In [1]:
from pymysql import connect
import pandas as pd

In [2]:
#Connect to the database

db=connect(
host ='localhost',
user ='root',
passwd = 'parfAit42@')

In [3]:
#definie cursor object

cur = db.cursor()

In [5]:
#definie query to see all the database

query= 'show databases'
cur.execute(query)

7

In [7]:
#fetch all the database
db= cur.fetchall()

In [8]:
#iterate thourgh all the database
for data in db:
    print(data)

('information_schema',)
('mysql',)
('newschema',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [9]:
#Connect to the database

db=connect(
host ='localhost',
user ='root',
passwd = 'parfAit42@',
database = 'sakila')

In [10]:
#definie cursor object

cur = db.cursor()

In [11]:
#definie query to see all the database

query= 'show tables'
cur.execute(query)

23

In [12]:
#fetch all the database
tables= cur.fetchall()

In [13]:
#iterate thourgh all the database
for table in tables:
    print(table)

('actor',)
('actor_info',)
('address',)
('category',)
('city',)
('country',)
('customer',)
('customer_list',)
('film',)
('film_actor',)
('film_category',)
('film_list',)
('film_text',)
('inventory',)
('language',)
('nicer_but_slower_film_list',)
('payment',)
('rental',)
('sales_by_film_category',)
('sales_by_store',)
('staff',)
('staff_list',)
('store',)

In [26]:
#La requete

query ='SELECT * FROM film, actor'
cur.execute(query)

200000

In [27]:
#change table to the pandas
df= pd.read_sql(query, db)

C:\Users\ngora\AppData\Local\Temp\ipykernel_14992\1417095193.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df= pd.read_sql(query, db)

In [28]:
df

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update,actor_id,first_name,last_name,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,200,THORA,TEMPLE,2006-02-15 04:34:33
1,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,199,JULIA,FAWCETT,2006-02-15 04:34:33
2,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,198,MARY,KEITEL,2006-02-15 04:34:33
3,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,197,REESE,WEST,2006-02-15 04:34:33
4,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,None,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42,196,BELA,WALKEN,2006-02-15 04:34:33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199995,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,5,JOHNNY,LOLLOBRIGIDA,2006-02-15 04:34:33
199996,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,4,JENNIFER,DAVIS,2006-02-15 04:34:33
199997,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,3,ED,CHASE,2006-02-15 04:34:33
199998,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,2,NICK,WAHLBERG,2006-02-15 04:34:33
199999,1000,ZORRO ARK,A Intrepid Panorama of a Mad Scientist And a B...,2006,1,None,3,4.99,50,18.99,NC-17,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42,1,PENELOPE,GUINESS,2006-02-15 04:34:33

In [17]:
df=df.to_csv('film.csv')

In [22]:
df=pd.read_csv('film.csv')
df.head()

,Unnamed: 0,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            1000 non-null   int64
 1   film_id               1000 non-null   int64
 2   title                 1000 non-null   object
 3   description           1000 non-null   object
 4   release_year          1000 non-null   int64
 5   language_id           1000 non-null   int64
 6   original_language_id  0 non-null      float64
 7   rental_duration       1000 non-null   int64
 8   rental_rate           1000 non-null   float64
 9   length                1000 non-null   int64
 10  replacement_cost      1000 non-null   float64
 11  rating                1000 non-null   object
 12  special_features      1000 non-null   object
 13  last_update           1000 non-null   object
dtypes: float64(3), int64(6), object(5)
memory usage: 109.5+ KB

In [25]:
df.shape

(1000, 14)